#formulario{
  display: inline-block;
 
  margin-top:5rem;
  margin-left: 10rem;
}

.campo{
  margin: 5px;
}
.campo__label{
  margin-right: 5px;
}

.error{
  color: #fff;
   border: 2px solid #fff;
  background-color: red;
  
}