body{
    font-family: cursive;
    background-color: black;
 
}

.nav{
    background-image:linear-gradient(0deg, rgba(0,0,0,0.3757878151260504) 0%, rgba(0,0,0,0.6026785714285714) 0%) , url(https://giffiles.alphacoders.com/201/201168.gif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60rem;
}

.nav-link {
    display: inline;
}

audio{
    display:flex;
    position: absolute;
}

.container-haruko{
background-image: url(https://thumbs.gfycat.com/CrispPowerfulGoitered-size_restricted.gif);
background-size: contain;
}
